.field {
  label {
    @apply block text-xs font-semibold text-gray-300 uppercase tracking-wide mb-1;

  }

  input {
    @apply block text-base w-full rounded p-2;
    @apply bg-gray-900 focus:bg-gray-800;
    @apply border border-black focus:border-pink-600;
    @apply text-gray-50;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    @apply text-xs font-semibold text-gray-300 uppercase tracking-wide;

    .checked-icon {
      display: none;
    }

    .unchecked-icon {
      display: inline;
    }
  }

  input[type="checkbox"]:checked + label {
    .checked-icon {
      display: inline;
    }

    .unchecked-icon {
      display: none;
    }
  }
}

.field.error {
  input {
    @apply border-red-700;
  }
}
